
    <footer>
<p class="text-center text-muted">© Copyright 2014 The Awesome People</p>
    </footer>
</div>
</body>
<script>
window.addEventListener("beforeunload", function () {
  document.getElementById("page-wrapper").classList.add("animate-out");
});
</script>
</html>