<!DOCTYPE html>
<html lang="fr">
<head>
    <% include includes/header.ejs %>
</head>
<body class="container">

    <header>
        <% include includes/nav.ejs %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>

    <footer>
        <% include includes/footer.ejs %>
    </footer>
    
</body>
</html>