<% include ../includes/header %>
    <main>
        <div class="jumbotron">
            <h1><%= image.nom %></h1>
            <img src="<%= image.path %>" alt="<%= image.path %>" />
        </div>
    </main>
<% include ../includes/footer %>