<% include ../includes/header %>
<link rel="stylesheet" href="../stylesheets/style.css">
    <main>
        <div class="jumbotron">
            <h1><%= imagev.nom %></h1>
            <img src="<%= "../" + imagev.path %>" alt="<%= imagev.path %>" />
        </div>
    </main>
<% include ../includes/footer %>